{% extends 'base.html.twig' %}


{% block title "Next immobilier" %}

{% block body %}
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img id="homeimg"  src="{{ '/images/villa.jpg' }}" alt="First slide">
                <div class="container" id="formSearchHome">
                    {{ form_start(form) }}
                    <div class="row align-items-center">
                        <div class="col">
                            {{ form_label(form.maxPrice, 'Prix maximum :') }}
                            {{ form_row(form.maxPrice) }}
                        </div>
                        <div class="col">
                            {{ form_label(form.minSurface, 'Surface minimum :') }}
                            {{ form_row(form.minSurface) }}
                        </div>
                        <div class="col">
                            {{ form_row(form.distance) }}
                        </div>
                    </div>
                    <div class="row align-items-center">
                        <div class="col">
                            {{ form_label(form.options, 'Options :') }}
                            {{ form_row(form.options) }}
                        </div>

                        <div class="col">
                            <label for="fieldLocation">Lieux :</label>
                            <div class="form-group">
                                <input name="fieldLocation" type="text" value="" placeholder="Lieux" id="search_address" style="width: 100%;" class="form-control">
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="form-group align-top">
                                <button class="btn btn-primary">Rechercher</button>
                            </div>
                        </div>
                        {{ form_rest(form) }}

                    </div>
                    {{ form_end(form) }}
                </div>

            </div>
        </div>
    </div>



    <div class="container mt-4">
        <h2>Les derniers biens</h2>
        <div class="row flex">
            {% for property in properties %}
                <div class="col-3">
                    {% include 'property/_property.html.twig' %}
                </div>

            {% endfor %}
        </div>
    </div>


    <style>
        #homeimg{
            height: 500px;
            object-fit: cover;
            width: 100%;
        }
    </style>
{% endblock %}