{% extends 'base.html.twig' %}


{% block title  property.title %}



{% block body %}

    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>

    {% endfor %}

    {% if not form.vars.valid %}
        <div class="alert alert-danger">
            Erreur formulaire
        </div>
    {% endif %}


    {#<div id="carouselExampleIndicators" class="carousel slide carousel-fade" data-ride="carousel">
        <ol class="carousel-indicators">
            {% for picture in property.pictures %}
                <li data-target="#carouselExampleIndicators" data-slide-to="{{ loop.index0 }}"  {% if loop.index0 == 0 %}class="active" {% endif %}></li>
            {% endfor %}

        </ol>

        <div class="carousel-inner">
            {% for picture in property.pictures %}

                <div class="carousel-item  {% if loop.index0 == 0 %} active {% endif %}">
                {%  if property.picture %}
                    <img src="{{ vich_uploader_asset(picture, 'imageFile') | imagine_filter('thumb') }}" alt="d-block w-100" style="width: 100%; height:auto;">
                {% else %}
                    <img src="{{ '/images/properties/empty.jpg' | imagine_filter('medium') }}" alt="" class="d-block w-100" style="width: 100%;height: auto;">
                {% endif %}
            </div>
            {% endfor %}

        </div>

        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>#}
<div class="jumbotron">
    <div class="container">
        <div data-slider class="slider-nav">
            {% if property.pictures is empty %}
                <img src="{{ '/images/properties/empty.jpg' | imagine_filter('medium') }}" alt="" class="image-slider d-block w-100" >
            {% else %}
                {% for picture in property.pictures %}
                    <img src="{{ vich_uploader_asset(picture, 'imageFile') | imagine_filter('medium') }}" alt="" class="image-slider d-block w-100">
                {% endfor %}
            {% endif %}
        </div>
    </div>
</div>





{#
    <div class="jumbotron">
        <div class="container">

            {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>

            {% endfor %}

            {% if not form.vars.valid %}
            <div class="alert alert-danger">
                Erreur formulaire
            </div>
            {% endif %}


            <div class="row">
                <div class="col-md-8">

                    {%  if property.picture %}
                        <img src="{{ vich_uploader_asset(property.picture, 'imageFile') | imagine_filter('thumb') }}" alt="card-img-top" style="width: 100%; height:auto;">

                    {% else %}
                        <img src="{{ '/images/properties/empty.jpg' | imagine_filter('medium') }}" alt="" class="card-img-top" style="width: 100%;height: auto;">
                    {% endif %}

                </div>


                <div class="col-md-4">
                    <h1> {{ property.title }}</h1>
                    <h2> {{ property.rooms }} pieces - {{ property.surface }} m2</h2>
                    <div class="text-primary"> {{ property.formatedPrice }}</div>
                    <a href="" class="btn btn-primary" id="contactButton" {% if form.vars.submitted %}style="display: none"{% endif %}> Contacter l'agence</a>
                    <div id="contactForm" class="mt-4" {% if not form.vars.submitted %}style="display: none"{% endif %}>
                        {{ form_start(form) }}
                        <div class="row">
                            <div class="col">{{ form_row(form.firstname) }}</div>
                            <div class="col">{{ form_row(form.lastname) }}</div>
                        </div>

                        <div class="row">
                            <div class="col">{{ form_row(form.phone) }}</div>
                            <div class="col">{{ form_row(form.email) }}</div>
                        </div>

                        {{ form_rest(form) }}

                        <div class="form-group">
                            <button class="btn btn-primary">Envoyer</button>
                        </div>


                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
#}









    <div class="container mt-4 mb-4">


        <p>
            {{ property.description | nl2br }}
        </p>
        <div class="row">
            <div class="col-md-8">
                <h2>Caracteristiques</h2>
                <table class="table table-striped">
                    <tr>
                        <td> surface habitable</td>
                        <td> {{ property.surface }} m2</td>
                    </tr>
                    <tr>
                        <td>Pieces</td>
                        <td>{{ property.rooms }}</td>
                    </tr>
                    <tr>
                        <td>Chambre</td>
                        <td>{{ property.bedroom }}</td>
                    </tr>
                    <tr>
                        <td>Etage</td>
                        <td>{{ property.floor }}</td>
                    </tr>
                    <tr>
                        <td>chauffade</td>
                        <td>{{ property.heatType }}</td>
                    </tr>
                </table>

            </div>
            <div class="col-md-4">
                <h2>Spécificité</h2>
                <ul class="list-group">
                    {% for option in property.options %}
                        <li class="list-group-item">
                            {{
                                option.name
                            }}
                        </li>
                    {% endfor %}
                </ul>

            </div>
        </div>

        <div id="map" style="width: 100%; height: 400px" data-lat="{{ property.lat }}" data-lng="{{ property.lng }}"></div>

    </div>

{% endblock %}

