{{ form_start((form)) }}
<div class="row">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-6">{{ form_row(form.username) }}</div>
        </div>
        {% if(edit) %}
        <div class="row">
            <div class="col-md-6">
                <label for="oldPassword" >
                    Ancien mot de passe
                    <input type="password" name="oldPassword" value="">
                </label>

            </div>
        </div>
        {% endif %}
        <div class="row">
            <div class="col-md-6">{{ form_row(form.password) }}</div>
        </div>
    </div>
</div>

{{ form_rest(form) }}
<button class="btn btn-primary">{{ button|default('Enregistrer') }}</button>
{{ form_end(form) }}