{% extends 'base.html.twig' %}


{% block title "Gestion des utilisateurs" %}

{% block body %}
    <div class="container mt-4">
        <h1>Gestion des utilisateurs </h1>

        {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>

        {% endfor %}
        <table class="table table-striped">
            <thead>
            <tr>
                <th> Nom d'utilisateur</th>
                <th> Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for user in users %}
                <tr>
                    <td>{{  user.username }}</td>
                    <td>
                        <a href="{{ path('admin.user.edit', {id:user.id}) }}" class="btn btn-secondary">Editer</a>
                        <form  method="post" action="{{ path('admin.user.delete', {id: user.id}) }}" style="display: inline-block;">
                            <input type="hidden" name="_method" value="DELETE">
                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ user.id) }}">
                            <button class="btn btn-danger">Supprimer</button>
                        </form>
                    </td>
                </tr>

            {% endfor %}
            </tbody>
        </table>
        <div class="text-right">
            <a href="{{ path('admin.users.new')}}" class="btn btn-primary">Creer un utilisateur</a>
        </div>
    </div>





{% endblock %}