<!DOCTYPE html>
<html lang="fr">
<head>
    <title>{% block title %}Welcome!{% endblock %}</title>
    <meta charset="UTF-8">
    <meta name="description" content="LERAMIZ Landing Page Template">
    <meta name="keywords" content="LERAMIZ, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Favicon -->
    <link href="img/favicon.ico" rel="shortcut icon"/>

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">

    <!-- Stylesheets -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/css/select2.css" integrity="sha256-cxYyFTq8AlfZjXRMeAy8KPHpmNVSpUNhnxQwNfUT0Lo=" crossorigin="anonymous" />

    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
        <link rel="stylesheet" href="/build/app.css">
    {% endblock %}

</head>
<body>
<!-- Page Preloder -->
<div id="preloder">
    <div class="loader"></div>
</div>

<!-- Header section -->
<header class="header-section">
    <div class="header-top">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 header-top-left">
                    <div class="top-info">
                        <i class="fa fa-phone"></i>
                        (+33) 677 896 349
                    </div>
                    <div class="top-info">
                        <i class="fa fa-envelope"></i>
                        contact@next.fr
                    </div>
                </div>
                <div class="col-lg-6 text-lg-right header-top-right">
                    <div class="top-social">
                        <a href=""><i class="fa fa-facebook"></i></a>
                        <a href=""><i class="fa fa-twitter"></i></a>
                        <a href=""><i class="fa fa-linkedin"></i></a>
                    </div>
                    <div class="user-panel">
                        <!--
                                                    <a href=""><i class="fa fa-user-circle-o"></i> Register</a>
                        -->
                        <a href="{{ path('login') }}"><i class="fa fa-sign-in"></i> Login</a>

                        {% if app.user %}
                            <a href="{{ path('logout') }}"><i class="fa fa-sign-in"></i> Login</a>
                        {% endif %}

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="site-navbar">
                    <a href="#" class="site-logo"><img src="img/logo.png" alt=""></a>
                    <div class="nav-switch">
                        <i class="fa fa-bars"></i>
                    </div>
                    <ul class="main-menu">
                        <li><a href="{{ path('home') }}">Home</a></li>
                        <li><a class="{% if current_menu is defined and current_menu == "properties" %}active{% endif %}" href="{{ path('property.index') }}">Acheter <span class="sr-only">(current)</span></a></li>
                        <li><a class="{% if current_menu is defined and current_menu == "properties" %}active{% endif %}" href="{{ path('admin.home.index') }}">Admin <span class="sr-only">(current)</span></a></li>
                        <li><a href="blog.html">Blog</a></li>
                        <li><a href="contact.html">Contact</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Header section end -->
        {% block body %}{% endblock %}
    {% block footer %}

        <!-- Footer section -->
        <footer class="footer-section set-bg" data-setbg="img/footer-bg.jpg" style="background-image: url('{{ '/images/footer-bg.jpg' }}')">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-6 footer-widget">
                        <img src="img/logo.png" alt="">
                        <p>Lorem ipsum dolo sit azmet, consecter dipise consult  elit. Maecenas mamus antesme non anean a dolor sample tempor nuncest erat.</p>
                        <div class="social">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-instagram"></i></a>
                            <a href="#"><i class="fa fa-pinterest"></i></a>
                            <a href="#"><i class="fa fa-linkedin"></i></a>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 footer-widget">
                        <div class="contact-widget">
                            <h5 class="fw-title">CONTACT US</h5>
                            <p><i class="fa fa-map-marker"></i>3711-2880 Nulla St, Mankato, Mississippi </p>
                            <p><i class="fa fa-phone"></i>(+88) 666 121 4321</p>
                            <p><i class="fa fa-envelope"></i>info.leramiz@colorlib.com</p>
                            <p><i class="fa fa-clock-o"></i>Mon - Sat, 08 AM - 06 PM</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 footer-widget">
                        <div class="double-menu-widget">
                            <h5 class="fw-title">POPULAR PLACES</h5>
                            <ul>
                                <li><a href="">Florida</a></li>
                                <li><a href="">New York</a></li>
                                <li><a href="">Washington</a></li>
                                <li><a href="">Los Angeles</a></li>
                                <li><a href="">Chicago</a></li>
                            </ul>
                            <ul>
                                <li><a href="">St Louis</a></li>
                                <li><a href="">Jacksonville</a></li>
                                <li><a href="">San Jose</a></li>
                                <li><a href="">San Diego</a></li>
                                <li><a href="">Houston</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6  footer-widget">
                        <div class="newslatter-widget">
                            <h5 class="fw-title">NEWSLETTER</h5>
                            <p>Subscribe your email to get the latest news and new offer also discount</p>
                            <form class="footer-newslatter-form">
                                <input type="text" placeholder="Email address">
                                <button><i class="fa fa-send"></i></button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="footer-bottom">
                    <div class="footer-nav">
                        <ul>
                            <li><a href="">Home</a></li>
                            <li><a href="">Featured Listing</a></li>
                            <li><a href="">About us</a></li>
                            <li><a href="">Pages</a></li>
                            <li><a href="">Blog</a></li>
                            <li><a href="">Contact</a></li>
                        </ul>
                    </div>
                    <div class="copyright">
                        <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
                    </div>
                </div>
            </div>
        </footer>
        <!-- Footer section end -->

    {% endblock %}


    <!--&lt;!&ndash;====== Javascripts & Jquery ======&ndash;&gt;
    <script src="js/jquery-3.2.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/masonry.pkgd.min.js"></script>
    <script src="js/magnific-popup.min.js"></script>
    <script src="js/main.js"></script>-->

   {# <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/js/select2.full.js" integrity="sha256-AiFy5pfZzZtPlbrDYkjCOz1udN1+hMOqmkAflDG+kMM=" crossorigin="anonymous"></script>    <script href="./assets/js/modules/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/masonry/3.3.2/masonry.pkgd.js"></script>#}
{% block javascripts %}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/js/select2.full.js" integrity="sha256-AiFy5pfZzZtPlbrDYkjCOz1udN1+hMOqmkAflDG+kMM=" crossorigin="anonymous"></script>    <script href="./assets/js/modules/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/masonry/3.3.2/masonry.pkgd.js"></script>

    {{ encore_entry_script_tags('app') }}

    <script src="/build/app.js"></script>

{% endblock %}



</body>
</html>





